<div class="navbar navbar-default navbar-static-top ng-scope">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bacabs</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <ul>
        <li ng-if="!ctrl.allowDesktopNotifications">
          <a style="margin-top:8px" ng-click="ctrl.requestNotifications()" class="btn btn-primary btn-sm">Enable Desktop Notifications</a>
        </li>
        <li ng-if="ctrl.allowDesktopNotifications">
          <a style="margin-top:8px" ng-click="ctrl.stopNotifications()" class="btn btn-primary btn-sm">Stop Desktop Notifications</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Deployed Applications</h2>

      <div ng-if="!ctrl.deployments || ctrl.deployments.length == 0">
        <p>There are currently no deployments of interest.</p>
        <p>Keep watching though, as this page updates automatically!</p>
      </div>

      <div ng-if="ctrl.deployments && ctrl.deployments.length > 0">
        <p>The following applications are deployed in the server.</p>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Deployment</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Acceptance Task Status?</th>
            <th>% Progress</th>
            <th>Code Last Updated</th>
            <th>Discovery Time</th>
          </tr>
          <tr ng-repeat="deployment in ctrl.deployments | orderBy:'identifier':reverse" ng-class="{'strikethru' : deployment.jiraIssue.status == 'Closed'}">
            <td>
              <span class="text-warning" ng-if="deployment.status=='UNKNOWN'" uib-tooltip="Deployment not verified">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
            </td>
            <td><a href="{{deployment.href}}">{{deployment.identifier}}</a></td>
            <td>{{deployment.jiraIssue.summary}}</td>
            <td>{{deployment.jiraIssue.description}}</td>
            <td>
              <span ng-if="deployment.jiraIssue.acceptanceTaskStatus">{{deployment.jiraIssue.acceptanceTaskStatus}}</span>
              <span ng-if="!deployment.jiraIssue.acceptanceTaskStatus"><em>No Acceptance Test</em></span>
            </td>
            <td>
              {{deployment.jiraIssue.percentCompleted || 0}}% in
              {{deployment.jiraIssue.subtaskCount || 0}} Tasks
            </td>
            <td>
             <span ng-if="deployment.gitBranch">
              {{deployment.gitBranch.lastCommitDate | date:'MM/dd/yyyy @ h:mma'}} by <em>{{deployment.gitBranch.lastCommitAuthor}}</em>
             </span>
             <span ng-if="!deployment.gitBranch">
               Merged to qa (or other branch)
             </span>
            </td>
            <td>{{deployment.discoveryTime | date:'MM/dd/yyyy @ h:mma'}}</td>
          </tr>
        </table>

        <p ng-show="ctrl.hasUnverifiedDeployment()" class="alert">
          <span class="text-warning"><i class="fa fa-exclamation-triangle"></i></span>
          Non-verified deployments indicate that a container exists, but that the deployment is either still deploying or failed.  If the status persists more than a minute or two, the deployment most likely failed.
        </p>
      </div>
    </div>
  </div>
</div>
